body{
    margin:0;
}

header .container-fluid{
    margin:0 !important;
    padding: 0 !important;
}

/********** Top Nav Menu *****************/

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav a{
    color: #FFFFFF !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fdf7f7;
}

.dropdown-menu{
    background: #0275D8;
}

.dropdown-item:focus,
.dropdown-item:hover{
    background: #04579B;
}

.logo-admin{
    width: 50px;
}

#form, #list{
    margin-top: 50px;
    min-height: 500px;
}

.upload-legend{
    font-size: 10px;
    color: #1d1e1f;
}

#list .table{
    display: table;
}

.footer {
    background-color: rgb(54, 123, 155);
    top: 96.8%;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.footer .container span{
    color: #FFFFFF !important;
}