/**
 * Created by Rodrigo Gomes do Nascimento.
 * Date: 16/01/2017
 * Time: 16:54
 */

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/lato/Lato-Italic.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/lato/Lato-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #caccd1;
}

.sign-in{
    background: #FFFFFF;
    padding: 5px 30px;
    margin-bottom:0;
}
.sign-in a{
    font-family: Lato-Regular;
    font-size: 10px;
    float: right;
    text-transform: uppercase;
    color: #9f9fa5;
}

.sign-in .divide-signin{
    padding-left: 15px;
}

.sign-in hr{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 5px;
}

.navbar-toggler-right{
    position: relative !important;
}

.header{
    background-color: #FFFFFF !important;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 0px 30px 30px 30px;
    margin-top: 0;
}
.navbar-toggler{
    border: none;
    border-radius: none;
    font-size: 1.0rem;
    line-height: 1;
    padding: 0.25rem 0rem 0.25rem 0;
}
.navbar {
    background-color: #FFFFFF !important;
}
.navbar img{
    padding-left: 0%;
}

.navbar ul li{
    padding-left: 50px;
    text-align: center;
}
.navbar ul li a{
    font-family: Lato-Bold;
    font-size: 14px;
    color: #454553;
    text-transform: uppercase;
    text-align: center;
}

.navbar ul li.active a,
.navbar ul li a:hover {
    color: #49a0d5 !important;
}

.nav-categories{
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: -248px;
    z-index: 1000000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding-left: 20px;
    max-width: 1110px;
}

.nav-categories .categories{
    float: left;
    padding: 0 0 0 50px;
    margin-right: 30px;
}

.nav-categories .categories-product{
    float: right;
    padding: 0 0 0 160px;
}
.nav-categories .categories h1{
    font-family: Lato-Bold;
    font-size: 12px;
    color: #454553;
    float: left;
    margin-top: 30px;
}

.nav-categories .categories ul li{
    list-style: none !important;
    margin-top: 5px !important;
    text-align: left !important;
}

.nav-categories .categories a.dropdown-item{
    background: none;
    color: #454553 !important;
    font-family: Lato-Regular !important;
    font-size: 14px !important;
    float: left !important;
    text-align: left;
    margin-left: -115px !important;
}

.cart{
    float: right;
    margin-top: -40px;
}

.cart a{
    font-family: Lato-Bold;
    font-size: 12px;
    color: #454553;
    display: flex;
    text-decoration: none;
}

.cart a img{
    padding-right: 8px;
}

.cart a.dropdown span.count-cart{
    background: #6b9fd2 none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    font-family: Lato-Bold;
    padding: 3px 8px;
    margin-left: 5px;
}

.cart a.dropdown span.legend{
    margin-top: 3px;
}

#cart-collapse{
    background-color: #f7f7f9;
    padding: 20px;
    position: absolute;
    z-index: 50000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 230px;
    width: 25%;
    right:2%;
    top: 60%;
    -webkit-box-shadow: 3px 7px 8px 0px rgba(50, 50, 50, 0.22);
    -moz-box-shadow:    3px 7px 8px 0px rgba(50, 50, 50, 0.22);
    box-shadow:         3px 7px 8px 0px rgba(50, 50, 50, 0.22);
}

#cart-collapse .line{
    border-bottom: solid 1px #e6e6e6;
}

#cart-collapse .img{
    float: left;
    width: 30%;
}

#cart-collapse .info{
    float: left;
    text-align: center;
    padding-left: 20px;
    width: 70%;
}

#cart-collapse .remove-cart{
    float: right;
    text-align: right;
    cursor: pointer;
}

#cart-collapse .info p{
    font-family: Lato-Regular;
    font-size: 16px;
    color: #454553;
    text-indent: 2px;
    text-align: left;
}

.cart div.dropdown-menu.nav-cart{
    float: none !important;
    right: 0 !important;
}


#filter-btn{
    background: #FFFFFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#filter-btn a{
    border: 2px solid #c8c7cc;
    border-radius: 50px;
    color: #464555;
    font-family: Lato-Bold;
    font-size: 14px;
    margin-top: 15px;
    padding: 9px 65px;
    text-align: center;
    width: 80%;
}

/********* Slide Banner ************/
.slide-banner {
    height: 450px;
    margin-top: 10px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.carousel-indicators{
    bottom: 40px;
}

.carousel-indicators ol{
    list-style: circle !important;
}

.carousel-caption {
    top: 90px;
    color: #fff;
    left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    text-align: LEFT;
    z-index: 10;
}

.carousel-caption h3 {
    font-size: 58px;
    font-family: Lato-Light;
}

.carousel-caption p {
    font-size: 20px;
    font-family: Lato-Regular;
}

.carousel-caption a{
    background-color: #6b9fd2;
    border: none;
    padding: 13px 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    --webkit-box-shadow: 4px 8px 15px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    4px 8px 15px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         4px 8px 15px 0px rgba(50, 50, 50, 0.4);
}

/******** Featured Products *********/
.featured-products{
    height: 170px;
    width: 100%;
    display: flex;
    background-color: #f7f7f9;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 10px 10px;
    margin-top: -34px;
}

.featured-products .item{
    border-right: solid 1px #dcdce3;
}

.featured-products .item .picture{
    float: left;
}
.featured-products .item .caption {
    float: left;
    margin-top: 40px;
}

.featured-products .item .category{
    font-family: Lato-Light;
    font-size: 14px;
    color:#454553;
}

.featured-products .item .name{
    font-family: Lato-Light;
    font-size: 18px;
    font-weight: bold;
    color:#454553;
    margin-top: 10px;
}

.featured-products .item .price{
    font-family: Lato-Bold;
    font-size: 14px;
    color:#454553;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 2px #ccccd0;
    margin-top: 15px;
    padding: 5px 15px;
    text-align: center;
    width: 80%;
}

/********** SIDEBAR **********/
.sidebar-left .brands,
.sidebar-left .category{
    background-color: #f7f7f9;
    min-height: 382px;
    margin-top: 20px;
    padding: 20px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sidebar-left h1{
    color: #454553;
    font-family: Lato-Black;
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 15px;
    padding-left: 20px;
}

.sidebar-left .input-search{
    font-family: Lato-Italic;
    font-size: 13px;
    color: #454553;
    padding:10px 15px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: solid 1px #fbfbfc
}

.sidebar-left .btn-search{
    height: 20px;
    width: 20px;
    position: absolute;
    float: right;
    margin-top: -28px;
    margin-left: 160px;
    background: transparent url(../img/btn-search.png) no-repeat;
    border: none;
}

.menu-brands{
    margin-top: 20px;
}

.menu-brands li{
    list-style: none;
    padding-left: 50px;
    margin-left: -20px;
}

.menu-brands li.active{
    color: #6b9ed2;
    list-style: circle;

}

.menu-brands li a{
    font-family: Lato-Black;
    font-weight: bold;
    font-size: 13px;
    color: #9f9fa6;
    text-decoration: none;
    margin-left: -50px;
}

.menu-brands li a:hover,
.menu-brands li a.active{
    color: #6b9ed2;
}

.menu-brands .total {
    float: right;
}

.category .plus{
    color: #6b9fd2;
    font-size: 14px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

    /********* PRODUCTS **********/
.products{
    margin-top: 20px;
}
.products .item {
    background: #f7f7f9 url(../img/bg-box-produto.png) top repeat;
    height: 380px;
    padding: 1px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.products .img-product{
    margin-top:0 ;
}

.products .info-product{
    background: #FFFFFF;
    width: 80%;
    left: 10%;
    right: 30%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    bottom: 25px;
}

.products .info-product a, p{
    color: #454553;
    font-family: Lato-Bold;
    font-size: 16px;
    padding-top: 5px;
}

.products .info-product p {
    font-size: 14px;
    margin-top: -5px;
}
.products .img-product{
    margin-top: 4px;
    bottom: 0;
}

.products .info-product p .favorite-icon{
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.products .info-product p .cart-icon{
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

.pagination{
    margin-top: 20px;
    background: #474753;
    padding: 25px 25% 15px 35%;
}

.pagination ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #a1a1af
}

.pagination ul li.active {
    font-family: Lato-Bold;
    background: #6b9fd2;
    margin-top: -8px;
    padding: 5px 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color:#FFFFFF;
}

.pagination ul li.active a{
    color: #FFFFFF
}

.pagination ul li a{
    color: #a1a1af
}

.pagination ul li a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

/********* FOOTER *********/
footer{
    background: #f7f7f9;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

footer .logo-footer{
    margin-top: 60px;
    display: inline;
    float: left;
}

footer .menu-footer{
    float: right;
    text-align: left;
    margin-top: 80px;
}

footer h3{
    font-family: Lato-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #767680;
    text-transform: uppercase;
}

footer ul li{
    display: block;
    list-style: none;
    text-align: left;
    margin-left: -38px;
}

footer ul li a{
    font-family: Lato-Regular;
    font-size: 16px;
    color: #474754;
}

footer .line-footer{
    width: 95%;
    margin-top: 70px;
    margin-left: 70px;
}

footer .copy-footer p{
    font-family: Lato-Regular;
    font-size: 14px;
    color: #454553;
    padding-top: 30px;
    padding-bottom: 40px;
    float: left;
    display: flex;
}

footer .social-footer{
    float: right;
    display: flex;
    padding-top: 35px;
    padding-bottom: 40px;
}
footer .social-footer img{
    padding-left: 15px;
}

/********* MEDIA QUERY FOR RESPONSIVE DEVICES ***********/
@media (min-width: 448px) and (max-width: 474px){
    .cart{
        margin-top: -40px;
        margin-left: 7%;
    }
}

@media (max-width: 474px){
    .navbar{
        display: list-item !important;
        list-style: none;
    }

    .navbar-brand{
        display: inline;
        width: 100%;
        padding-left: 2%;
    }


}

@media (min-width: 511px) and (max-width: 767px){

}


@media (min-width: 475px) and (max-width: 768px){
    .navbar{
        display: list-item !important;
        list-style: none;
    }

    .navbar-brand{
        display: inline;
        width: 100%;
        padding-left: 15%;
    }


}

@media (min-width: 768px) and (max-width: 859px){
    .slide-banner,
    .featured-products{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .navbar{
        display: list-item !important;
        list-style: none;
    }

    .navbar-brand{
        display: inline;
        width: 100%;
        padding-left: 25%;
    }
}

@media (min-width: 860px) and (max-width: 991px){
    .carousel-caption{
        left: 5%;
        padding-top: 0;
        top:25px;
    }

    .carousel-indicators {
        bottom: 186px;
    }

    .featured-products{
        margin-top: -184px
    }

    #slide-banner{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .carousel-caption{
        left: 5%;
        padding-top: 0;
        top:60px;
    }
    .carousel-indicators {
        bottom: 100px;
    }

    .featured-products {
        margin-top: -92px
    }
}


#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsed-sidebar {
    /* hide it for small displays*/
    display: none;
}


@media (min-width: 992px) {
    #sidebar .collapsed-sidebar {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }

}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#content {
    /* for the animation */
    transition: width 0.3s ease;
}

.header-shadow{
    -webkit-box-shadow: inset 0px 6px 6px 0px rgba(50, 50, 50, 0.23);
    -moz-box-shadow:    inset 0px 6px 6px 0px rgba(50, 50, 50, 0.23);
    box-shadow:         inset 0px 6px 6px 0px rgba(50, 50, 50, 0.23);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

.no-radius{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}